# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
ENV/
env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media/uploads (optional – only ignore if not using version control for user uploads)
media/



# Migrations (optional – if you want fresh ones)
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# MySQL/PostgreSQL dumps
*.sql

# pip cache
pip-wheel-metadata/
__pypackages__/

# Coverage & test
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# dotenv environment variables (if used)
.env
.env.*
